.dashboard {
    padding: 20px;
  }
  .dashboard h2{
    margin: 0;
    padding:0;
  }
  
  .posts {
    display: flex;
    flex-direction: column;
  }
  
  .post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .post h3 {
    margin: 0 0 10px 0;
  }
  
  .post p {
    margin: 5px 0;
  }
  
  
  .dashboardHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
  }
  .dashboardButtons{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap:10px;
  }