.new-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .new-post form {
    display: flex;
    flex-direction: column;
    width: 100%;

  }
  
  .entryArea {
    margin-bottom: 15px;    
    width: 100%;
  }
  
  .entryArea label {
    display: block;
    margin-bottom: 5px;
  }
  
  .new-post .entryArea input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;

  }
  

  
  .entryArea input[type="checkbox"] {
    width: auto;
    margin-left: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .editorContainer {
    width: 100%;
    margin-bottom: 15px;
  }

  .editorContainer .tox.tox-tinymce {
    width: 100% !important;
  }