.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.header h3 {
    margin: 0;
    color:#000;
    font-size: 32px;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
