.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1A1A1A;
    color: white;
}

.header h3 {
    margin: 0;
    font-size: 32px;
}

.nav-center {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    color: #7E7E81;
    font-size: 16px;
    padding: 5px 15px;
}

.activeLink {
    color: white; 
    border-radius: 10px;
    border: 1px solid #333333;
    background-color: #141414;
}

.nav-right button {
    background-color: #FFD11A;
    color: #141414;
}
